
body{
    background-color: #4E3B2A;
    border: 6px solid #4E3B2A;
    border-left: 15px solid #4E3B2A;
    border-right: 15px solid #4E3B2A;
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

header{
    background: #4E3B2A;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: -99;
    padding: 0;
    border-bottom: 6px solid #4E3B2A;
    perspective: 700;
}

.head{
    animation: logo 1s ease-in-out;
}

@keyframes logo{
    0%{
        transform: rotate3d(1, 1, 0, 90deg) scale(0.1);
        /* filter: blur(10px); */
    }
    80%{
        transform: rotate3d(1, 1, 0, 45deg) scale(2);
    }
    100%{
        transform: rotate3d(0, 0, 0, ) scale(1);
        filter: blur(0);
    }
}

.G{
    font-size: 3em;
    color: #d4af37;
    padding: 5px 0 5px 20px;
    border-radius: 50%;
    display: inline-block;
    background: #800000;
    /* border: 3px solid #2B1E14; */
}

.R{
    font-size: 2.5em;
     color: #800000;
    display: inline-block;
    text-decoration: overline #d4af37;
}

#vide{
    width: 100px;
    height: 50px;
    color: #800000;
    /* z-index: 1000;
    position: relative; */
}


button{
    margin: 0 48px;
    padding: 1em;
    font-size: 1.5em;
    font-family: sans-serif;
    color: #d4af37;
    border-radius: 11px;
    background: #826A4B;
}

button:hover{
    background: red !important;
    opacity: 0.6 !important;
    cursor: pointer !important;
    ;
}


#conteneur{
    background: url("img/Gemini_Generated_Image_diittxdiittxdiit.png") no-repeat center center;
    min-height: 100vh;
    background-size: cover;
    position: relative;
    z-index: -100;
    /* margin-top: 14%; */
    width: auto;
    height: auto;
    margin: 0;
}

h2{
    font-size: 3.5em;
    color: #d4af37;
    /* margin: 70px 5px 4px 50px; */
    padding: 10% 0 1% 25%;
    animation: trans 1s ease-out;
}

p{
    color: #FAFAFA;
    font-size: 1.7em;
    display: inline-block;
}

.sous-t{
    margin-left: 12%;
    background: #E3D5B8;
    padding: 10px;
    color: #2B1E14;
    border-radius: 15px;
    animation: trans 1s ease;
    box-shadow: 5px 5px 2px #b3a690, inset 5px 5px 1px #d8c4a3;
}

.bla{
    margin-left: 5%;
    background: #4A231F;
    padding: 10px;
    color: #FAFAFA;
    border-radius: 15px;
    animation: trans 1s ease;
    box-shadow: 5px 5px 2px #201710, inset 5px 5px 1px #552621;
}

@keyframes trans{
    0%{
        opacity: 0;
        transform: translatex(-300px) scale(0.4);
        filter: blur(5px);
    }
    100%{
        opacity: 1;
        transform: translatex(0) scale(1);
        filter: blur(0);
    }
}