
html{
    scrollbar-gutter: stable;
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #455a76;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
     font-style: normal;
}

header{
    width: 100%;
    background: #121b28;
    margin: 0;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    perspective: 700;
    z-index: 1;
}

/* Les éléments dans le header. */

.head{
    animation: logo 1s ease-out forwards;
}

@keyframes logo{
    0%{
        transform: rotate3d(1, 1, 0, 90deg) scale(0.1);
        filter: blur(8px);
    }
    80%{
        transform: rotate3d(1, 1, 0, 45deg) scale(3);
    }
    100%{
        transform: rotate3d(0, 0, 0, ) scale(1);
        filter: blur(0px);
    }
}

.G{
    font-size: 1.5em;
    color: #f2b006;
    padding: 5px 0 5px 20px;
    border-radius: 50%;
    display: inline-block;
    background: #455a76;
    box-shadow:  5px 5px 3px #2d3644,
             -5px -2px 3px #6e90bd;
}

.R{
    font-size: 1em;
    color: #f8d237;
    display: inline-block;
    text-decoration: overline #d79005;
}

#vide{
    width: 10%;
    height: 50px;
    color: #800000;
}

.nav{
    display: flex;
    justify-content: space-around;
}


button{
    margin: 0 30px;
    padding: 0.5em;
    font-size: 1em;
    font-family: sans-serif;
    color: #f2b006;
    border-radius: 11px;
    background: #2c3c55;
    box-shadow: inset 5px 5px 8px #405c88,
            inset -5px -5px 8px #455e85;
    border: none;
}


button:hover{
    opacity: 0.6;
    cursor: pointer;
    ;
}

button:active{
    opacity: 0.8;
    color: white;
}

/* La séction de l'acceuil */

#conteneur{
    background: url("img/Gemini_Generated_Image_dcb605dcb605dcb6.png") center/cover no-repeat;
    background-attachment: fixed;
    background-position-y: 70px;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.boite{
    display: none;
    padding: 0;
}

#accueil{
    display: block;
}

#Gi{
    font-family: "Playfair Display", serif;
    font-size: 3.5em;
    color: #f8d237;
    padding: 5% 0 1% 20%;
    animation: trans 1s ease-out;
    margin: 5% 0 5%;
}

p{
    color: #FAFAFA;
    font-size: 1.7em;
    display: inline-block;
    margin: 5% 0 5%;
}

.sous-t{
    margin-left: 12%;
    padding: 1%;
    color: #394d6a;
    border-radius: 15px;
    animation: trans 1s ease;
    background: linear-gradient(145deg, #f3e4c5, #ccc0a6);
    box-shadow:  6px 6px 5px #5b554a,
             -6px -6px 5px #ffffff;
}

.bla{
    margin: 5%;
    padding: 1%;
    color: #FAFAFA;
    border-radius: 15px;
    animation: trans 1s ease;
    background: #2a394e;
    box-shadow:  5px 5px 8px #121922,
             -5px -5px 8px #42597a;
}

@keyframes trans{
    0%{
        opacity: 0;
        transform: translatex(-800px) scale(0.4);
        filter: blur(5px);
    }
    100%{
        opacity: 1;
        transform: translatex(0) scale(1);
        filter: blur(0);
    }
}

/* section du profil */

#profil{
     animation: profil 1s ease-in;
}
   

#Rad{
    text-align: center;
    color: #121b28;
    background-color: #f2b006;
    font-size: 3.5em;
    margin-top:10%;
}

.para{
    text-align: justify;
    padding: 3%;
    background: #2c3c55;
}

.box{
    background: linear-gradient(45deg, #6e90bd, #121b28, #1d2b40, #455e85);
    width: auto;
    height: 100%;
    padding: 5px;
    margin-left: 3%;
    border-radius: 25px;
    box-shadow:  5px 5px 10px #070b10,
             -5px -5px 10px #1d2b40;
}

#conteneur.blur{
    filter: blur(9px);
}

#anicon{
    display: flex;
    padding: 10%;
    background: linear-gradient(45deg, #6e90bd #121b28, #1d2b40, #455e85);
}

#icon{
    width: 20em;
    height: 20em;
    margin: auto;
    justify-content: center;
    align-items: center;
    animation: diaporama 20s infinite;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes diaporama {
    0%{
        background-image: url("img/HTML.png");
        background-size: 80%;
        width: 50%;
        animation-delay: 12s;
    }
    12.5%{
        background-image: url("img/CSS.png");
        width: 50%;
        background-size: 80%;
    }
    25%{
        background-image: url("img/VS\ code.png");
        width: 50%;
        background-size: 80%;
    }
    37.5%{
        background-image: url("img/git.png");
        width: 50%;
        background-size: 80%;
    }
    50%{
        background-image: url("img/Github.png");
        width: 50%;
        background-size: 80%;
    }
    62.5%{
        background-image: url("img/JavaScript.png");
        width: 50%;
        background-size: 80%;
    }
    75%{
        background-image: url("img/Python.png");
        width: 50%;
        background-size: 80%;
    }
    87.5%{
        background-image: url("img/Arduino.png");
        width: 50%;
        background-size: 80%;
    }
    100%{
        background-image: url("img/HTML.png");
        width: 50%;
        background-size: 80%;
    }
}

/* Mon CV toujours dans la page de profil*/

#CV{
    text-align: center;
    font-size: 1.5em;
    border: 2px solid #4E3B2A;
    border-radius: 25px;
    display: block;
    text-decoration: none;
    padding: 8px;
    width: fit-content;
    margin: 50px auto; background: #f8d237;
    color: #121b28;
    box-shadow: inset 6px 6px 12px #635416,
            inset -6px -6px 12px #ffff58;
   
}

#CV:hover{
    font-size: 1.5em;
    background: #121b28;
    color: #f2b006;
    box-shadow:  6px 6px 12px #1f1811,
             -6px -6px 12px #7d5e43;
    transform: translateY(12px);
}

.je{
    font-size: 2em;
    color: #f2b006;
    padding-left: 5%;
}

.pre{
    color: #f2b006;
}

li{
    color: #FAFAFA;
}

@keyframes profil {
    0%{
        transform: translateY(-1000px);
    }
    100%{
        transform: translateY();
    }
}

/* section projets */

#projets{
    animation: projet 1s ease-in;
}

 #réaliser{
     margin-top: 100px;
     color: #121b28;
     font-size: 2em;
 }

#pro{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 0 50px;
}

.list{
    width: 30%;
    height: 100%;
    border: 1px solid #FAFAFA;
    background-color: #121b28;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.img{
    width: 30vw;
    height: 50vh;
    width: auto;
}

img{
    width: 100%;
    height: 100%;

}

.ancre,.ancre2{
    text-align: center;
    background-color: #2c3c55;
    border: 1px solid #455a76;
    width: auto;
    padding: 2px;
    text-decoration: none;
    color: #f8d237;
    font-size: 2em;
}

.ancre:hover{
    text-decoration: underline;
    color: #d79005;
}
.ancre2:hover{
    transform: translateY(-200px);
}

.notif{
    color: #FAFAFA;
    text-align: justify;
}

@keyframes projet {
    0%{
        transform: scale(9);
    }
    100%{
        transform: scale();
    }
}

/* footer */

footer{
    background: #121b28;
    margin: 0;
    padding: 0;
}

#cont{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    list-style: none;
}

.contact{
    margin: 20px;
    text-decoration: none;
    padding: 6px;
    text-align: center;
    border-radius: 50%;
    background: linear-gradient(145deg, #101824, #131d2b);
    box-shadow:  5px 5px 10px #070b10,
             -5px -5px 10px #1d2b40;
}

.contact:hover{
    box-shadow: inset 5px 5px 10px #070b10,
            inset -5px -5px 10px #2d4364;
}

.fa-envelope{
    color:aliceblue;
}

.fa-phone{
    color: rgb(199, 161, 78);
}

.fa-facebook{
    color: rgb(28, 145, 223);
}

.fa-github{
    color: #000;
}

.fa-whatsapp{
    color: rgb(55, 218, 69);
}

.fa-envelope:active,.fa-facebook:active,.fa-github:active,.fa-phone:active,.fa-whatsapp:active{
    color:violet;
}

@media screen and (max-width: 800px) {
    body{
        font-size: 1em;
    }
    header{
        font-size: 0.8em;
    }
    button{
        margin: 0 5px;
        padding: 0.5em;
    }

    #conteneur{
        background: url("img/Gemini_Generated_Image_dcb605dcb605dcb6.png") cover;
        /* background-attachment: fixed; */
        background-position-y: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100;
        height: 100%;
        margin: 30px 0;
        padding: 0;
    }
    #Gi{
        font-family: "Playfair Display", serif;
        color: #f8d237;
        padding: 5%;
        animation: trans 1s ease-out;
    }
    
    p{
        color: #FAFAFA;
        display: inline-block;
    }
    
    .sous-t{
        margin:auto;
        padding: 10px;
        color: #394d6a;
        border-radius: 15px;
        animation: trans 1s ease;
        background: linear-gradient(145deg, #f3e4c5, #ccc0a6);
        box-shadow:  6px 6px 5px #5b554a,
                 -6px -6px 5px #ffffff;
    }
    
    .bla{
        margin: 30px 0;
        padding: 10px;
        color: #FAFAFA;
        border-radius: 15px;
        animation: trans 1s ease;
        background: #2a394e;
        box-shadow:  5px 5px 8px #121922,
                 -5px -5px 8px #42597a;
    }

    #anicon{
        display: flex;
        flex-direction: column;
    }

    #cont{
        font-size: 1em;
    }

    #réaliser{
        text-align: center;
        background: whitesmoke;
        border-radius: 20px;
        margin-top: 100px;
        color: #121b28;
        font-size: 2em;
    }

    #pro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .list{
        width: 50%;
        margin: 20px 0;
    }
}